<div>
    <h2 data-translate="churchApp.cidade.home.title">Cidades</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="cidade.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="churchApp.cidade.home.createLabel">
                        Create new Cidade
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="descricao"><span data-translate="churchApp.cidade.descricao">Descricao</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="codigoIbge"><span data-translate="churchApp.cidade.codigoIbge">Codigo Ibge</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="estado.descricao"><span data-translate="churchApp.cidade.estado">Estado</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="cidade in vm.cidades track by cidade.id">
                    <td><a ui-sref="cidade-detail({id:cidade.id})">{{cidade.id}}</a></td>
                    <td>{{cidade.descricao}}</td>
                    <td>{{cidade.codigoIbge}}</td>
                    <td>
                        <a ui-sref="estado-detail({id:cidade.estado.id})">{{cidade.estado.descricao}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="cidade-detail({id:cidade.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="cidade.edit({id:cidade.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="cidade.delete({id:cidade.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
